.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}
.docRows {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.featureSvg {
  height: 200px;
  width: 200px;
}

.featureContainer {
  margin: 0 auto;
}
