.featuresGrid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 0;
  background: #fafbfc;
}
.docRows {
  display: grid;
  gap: 2rem;
  grid-template-columns: 1fr 1fr 1fr;
}
.featureSvg {
  height: 200px;
  width: 200px;
}
.featureCard {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 1px 4px rgba(30,32,34,0.10);
  padding: 1.5rem;
  width: 290px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.featureIcon {
  font-size: 2.2rem;
  margin-bottom: 0.5rem;
}
